/* Loading Container Styling */
.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: linear-gradient(135deg, #212529, #1c1f24);
  color: #edeeef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  z-index: 10000;
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Greeting Section */
.greeting h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

